@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.navbar {
  transition: background-color 0.4s;
  width: 100vw;
  background-color: transparent;
  z-index: 30;
  font-family: "DM Sans";
}

.navbar .navUl {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
}

.navbar .navUl .navbar-brand {
  max-width: fit-content !important;
}

.navbar .navUl .offcanvas {
  max-width: fit-content !important;
}

.navbar .navUl .searchBar {
  width: fit-content !important;
  margin: auto;
}

.navbar .navUl .collapsed {
  border: none !important;
}

.logo {
  width: 4em;
}

.navbar .searchBar {
  display: flex;
}

.navbar .searchBar form input {
  border-radius: 0 0 0 0;
  width: 20em;
  font-size: 0.75em;
}

.searchBar form button {
  background-color: rgb(48, 35, 10);
  border-radius: 0 10px 10px 0;
}

.searchBar form button:hover {
  background-color: rgb(99, 96, 96);
}

.navLink {
  display: flex;
  width: fit-content;
}

.navLink a {
  transition: background-color 0.3s;
  width: fit-content;
  height: 2.8em;
  margin-right: 1em;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 3em;
  text-transform: uppercase;
  border-bottom: 1.5px solid rgb(37, 21, 4);
  padding: 0 0.3em;
  border-radius: 1em 1em 0 0;
  transition: filter 0.1s ease-in;
}

.navLink a:hover {
  filter: invert(0.5);
}

.searchBar {
  display: flex;
}

form .btn {
  position: relative;
  height: 1.88em;
  width: 2em;
}

form .btn * {
  position: absolute;
  right: 25%;
  bottom: 20%;
}

.searchBar .searchForm {
  color: white !important;
  height: 2.1em;
  font-size: 0.9em;
  background-color: transparent;
}

form .form-control:focus {
  border-color: rgb(56, 53, 48);
  box-shadow: none;
}

.searchBar .cart {
  display: flex;
  text-decoration: none;
  color: rgb(37, 21, 4);
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(1em);
  }
  to {
    opacity: 1;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 630px) {
  .navbar .navUl {
    width: fit-content !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 630px) {
  .navbar .navUl {
    width: 39em !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar .navUl {
    width: 50em !important;
  }
}
